# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\EasyPHP-5.3.3\www\Toitel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
